.navbar {
  display: flex;
  margin-top: 30px;
}

a {
  cursor: pointer;
}

#logo {
  width: 75%;
  height: 40%;
}

#navbar-logo {
  width: 250px;
  height: 460px;
  margin: 0px;
}

#search {
  border-radius: 6px;
  height: 4%;
}
