.navbar {
  display: flex;
  margin-top: 10px;
}

a {
  cursor: pointer;
}

.options {
  display: flex;
}

#logo {
  width: 85%;
  height: 20%;
  margin-top: 2px;
}

#navbar-logo {
  width: 250px;
  height: 260px;
}

#search {
  border-radius: 6px;
  height: 8%;
  width: 250px;
  margin-right: 10px;
}
